



<!--<iframe [src]="safePdfUrl" width="420px" height="630px" sandbox="allow-scripts allow-same-origin"></iframe>-->


<!--pantalla-->
<div class="container">
  <div class="sidebar">
      <img [src]="baseUrl+libro.portada" alt="Portada" class="portada">
      <div class="containerTitulo">
        <p class="tituloLibro"> {{libro.titulo}}</p>
        
      </div>
      <div class="containerTitulo">
        <p class="tituloLibro"> {{libro.isbn}}</p>
        
      </div>
      <div class="containerTitulo">

        <!-- Botón para abrir el modal -->
        <div class="button-group" style="display: flex; gap: 5px;">
          <!-- Botón "Ver más detalles" -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#bookDetailsModal" (click)="setSelectedBook()" title="Ver más detalles del libro">
            <i class="bi bi-search"></i>
          </button>
        
          <!-- Botón para mostrar/ocultar el historial de lectura -->
          <button class="btn btn-primary" (click)="toggleBookmarket()" title="Mostrar u ocultar el historial de lectura">
            <i *ngIf="!showBookmarket" class="bi bi-bookmark-star-fill"></i>
            <i *ngIf="showBookmarket" class="bi bi-x-circle-fill"></i>

          </button>
        
          <!-- Botón para abrir modal de añadir marcapáginas -->
          <button class="btn btn-success" (click)="openBookmarkModal()" title="Añadir un marcapáginas">
            <i class="bi bi-bookmark-plus-fill"></i>
          </button>
        </div>
        

        <!-- Modal Bootstrap -->
        <div class="modal fade" id="bookDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ libro?.titulo }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
              <div class="modal-body">
                <p><strong>Autor:</strong> {{ libro.id_autor?.nombre || 'Autor no disponible' }}</p>
                <p><strong>ISBN:</strong> {{ libro?.isbn }}</p>
                <p><strong>Fecha de Publicación:</strong> {{ libro?.fecha_publicacion | date:'dd/MM/yyyy' }}</p>
                <p><strong>Descripción:</strong> {{ libro.descripcion || 'No hay descripción disponible' }}</p>
              
                <!-- Lista de categorías -->
                <strong>Categorías:</strong>
                <ul>
                  <li *ngFor="let categoria of libro.categorias_libro">
                    {{ categoria.nombre || 'No hay categorías disponible' }}
                  </li>
                </ul>
              
                <!-- Lista de géneros -->
                <strong>Géneros:</strong>
                <ul>
                  <li *ngFor="let genero of libro.generos_libro">
                    {{ genero.NOMBRE || 'No hay géneros disponible' }}
                  </li>
                </ul>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        
      </div>
      

      <div class="book-container">

          <!-- Desplegable que muestra el `bookmarket` una vez cargado -->
          <div *ngIf="showBookmarket">
          
            <!-- Contenedor para los marcapáginas -->
            <div *ngIf="bookmarket.length" class="bookmarket-container">
              <div class="bookmarket-container">
                <div class="bookmarket-item">
                  <span class="bookmarket-date">Fecha</span>
                  <span class="bookmarket-page">Página</span>
                </div>
              </div>
              <div *ngFor="let bookmark of bookmarket | slice:(currentPage-1)*itemsPerPage:(currentPage*itemsPerPage)" class="bookmarket-item">
                <span *ngIf="!bookmark.completado" class="bookmarket-date">{{ bookmark.fecha_lectura | date:'d MMMM yyyy' }}</span>
                <span *ngIf="!bookmark.completado" class="bookmarket-page">{{ bookmark.pagina_actual }}</span>
                <span *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-date">{{ bookmark.fecha_lectura | date:'d MMMM yyyy' }}</span>
                <span *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-page">{{ bookmark.pagina_actual }}</span>
                <p *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-status">Acabado</p>
              </div>
              <hr *ngIf="bookmarket.length">
            </div>

            <!-- Controles de paginación personalizados -->
            <div class="pagination-controls">
              <button (click)="goToPage(1)" [disabled]="currentPage === 1">&lt;&lt;</button>
              <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">&lt;</button>
              <span>Page {{currentPage}} of {{ totalPages }}</span>
              <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">&gt;</button>
              <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">&gt;&gt;</button>
            </div>
          </div>


      </div>
      
  </div>
  <div class="main-content">

    <div class="pdf-container">
      <!-- Botón para añadir el marcapáginas -->

      <!-- Modal personalizado -->
      <div *ngIf="showModal" class="modal-overlay">
        <div class="modal-content">
          <h2>Añadir Marcapáginas</h2>
          <p>Ingresa la página donde te has quedado leyendo:</p>
          <input type="number" [(ngModel)]="userPageInput" placeholder="Número de página" />
          
          <div class="modal-actions">
            <button class="btn btn-primary" (click)="confirmBookmark()">Confirmar</button>
            <button class="btn btn-secondary" (click)="closeBookmarkModal()">Cancelar</button>
          </div>
        </div>
      </div>

      <iframe #pdfIframe [src]="this.safePdfUrl" class="pdf-iframe" sandbox="allow-scripts allow-same-origin"></iframe>
    

   
    </div>
    



