<nav class="navbar navbar-expand-lg navbar-library">
  <a class="navbar-brand" href="#">LibGra</a>
  <button class="navbar-toggler" type="button" id="boton-style-app" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Enlaces de la izquierda -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Biblioteca</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item" *ngIf="(esAdmin || esSoid) && isLoggedIn">
        <a class="nav-link" href="#">Panel de Administrador</a>
        </li>
    </ul>
    <!-- Enlaces de la derecha -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" id="csesion" (click)="logout()">Cerrar sesión</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <img [src]="this.fotoServ" class="rounded-circle" alt="User Image" style="width: 40px; height: 40px; margin-left: 10px;" (click)="irAAdministrarPerfil()">
      </li>
    </ul>
  </div>
</nav>



<!--<iframe [src]="safePdfUrl" width="420px" height="630px" sandbox="allow-scripts allow-same-origin"></iframe>-->


<!--pantalla-->
<div class="container">
  <div class="sidebar">
      <img [src]="baseUrl+libro.portada" alt="Portada" class="portada">
      <div class="containerTitulo">
        <p class="tituloLibro"> {{libro.titulo}}</p>
        
      </div>
      <div class="containerTitulo">
        <p class="tituloLibro"> {{libro.isbn}}</p>
        
      </div>
      <div class="containerTitulo">

        <!-- Botón para abrir el modal -->
        <div class="button-group" style="display: flex; gap: 5px;">
          <!-- Botón "Ver más detalles" -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#bookDetailsModal" (click)="setSelectedBook()" title="Ver más detalles del libro">
            <i class="bi bi-search"></i>
          </button>
        
          <!-- Botón para mostrar/ocultar el historial de lectura -->
          <button class="btn btn-primary" (click)="toggleBookmarket()" title="Mostrar u ocultar el historial de lectura">
            <i *ngIf="!showBookmarket" class="bi bi-bookmark-star-fill"></i>
            <i *ngIf="showBookmarket" class="bi bi-x-circle-fill"></i>

          </button>
        
          <!-- Botón para abrir modal de añadir marcapáginas -->
          <button class="btn btn-success" (click)="openBookmarkModal()" title="Añadir un marcapáginas">
            <i class="bi bi-bookmark-plus-fill"></i>
          </button>
        </div>
        

        <!-- Modal Bootstrap -->
        <div class="modal fade" id="bookDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ libro?.titulo }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
              <div class="modal-body">
                <p><strong>Autor:</strong> {{ libro?.id_autor?.nombre || 'Autor no disponible' }}</p>
                <p><strong>ISBN:</strong> {{ libro?.isbn }}</p>
                <p><strong>Fecha de Publicación:</strong> {{ libro?.fecha_publicacion | date:'dd/MM/yyyy' }}</p>
                <p><strong>Descripción:</strong> {{ libro?.descripcion || 'No hay descripción disponible' }}</p>
                <p><strong>Categorias:</strong> {{ libro?.categorias_libro.nombre || 'No hay categorias disponible' }}</p>
                <p><strong>Generos:</strong> {{ libro?.generos_libro.nombre || 'No hay generos disponible' }}</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        
      </div>
      

      <div class="book-container">

          <!-- Desplegable que muestra el `bookmarket` una vez cargado -->
          <div *ngIf="showBookmarket">
          
            <!-- Contenedor para los marcapáginas -->
            <div *ngIf="bookmarket.length" class="bookmarket-container">
              <div class="bookmarket-container">
                <div class="bookmarket-item">
                  <span class="bookmarket-date">Fecha</span>
                  <span class="bookmarket-page">Página</span>
                </div>
              </div>
              <div *ngFor="let bookmark of bookmarket | slice:(currentPage-1)*itemsPerPage:(currentPage*itemsPerPage)" class="bookmarket-item">
                <span *ngIf="!bookmark.completado" class="bookmarket-date">{{ bookmark.fecha_lectura | date:'d MMMM yyyy' }}</span>
                <span *ngIf="!bookmark.completado" class="bookmarket-page">{{ bookmark.pagina_actual }}</span>
                <span *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-date">{{ bookmark.fecha_lectura | date:'d MMMM yyyy' }}</span>
                <span *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-page">{{ bookmark.pagina_actual }}</span>
                <p *ngIf="bookmark.completado" style="background-color: red;" class="bookmarket-status">Acabado</p>
              </div>
              <hr *ngIf="bookmarket.length">
            </div>

            <!-- Controles de paginación personalizados -->
            <div class="pagination-controls">
              <button (click)="goToPage(1)" [disabled]="currentPage === 1">&lt;&lt;</button>
              <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">&lt;</button>
              <span>Page {{currentPage}} of {{ totalPages }}</span>
              <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">&gt;</button>
              <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">&gt;&gt;</button>
            </div>
          </div>


      </div>
      
  </div>
  <div class="main-content">

    <div class="pdf-container">
      <!-- Botón para añadir el marcapáginas -->

      <!-- Modal personalizado -->
      <div *ngIf="showModal" class="modal-overlay">
        <div class="modal-content">
          <h2>Añadir Marcapáginas</h2>
          <p>Ingresa la página donde te has quedado leyendo:</p>
          <input type="number" [(ngModel)]="userPageInput" placeholder="Número de página" />
          
          <div class="modal-actions">
            <button class="btn btn-primary" (click)="confirmBookmark()">Confirmar</button>
            <button class="btn btn-secondary" (click)="closeBookmarkModal()">Cancelar</button>
          </div>
        </div>
      </div>

      <iframe #pdfIframe [src]="this.safePdfUrl" class="pdf-iframe" sandbox="allow-scripts allow-same-origin"></iframe>
    </div>
    
      <!--<iframe [src]="this.safePdfUrl" class="pdf-iframe" sandbox="allow-scripts allow-same-origin"></iframe>-->
  </div>
</div>


<footer class="footer-library mt-5">
  <p>&copy; 2024 BookApp. Todos los derechos reservados.</p>
</footer>
