
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="ad-container">
        <ins class="adsbygoogle"
            style="display:block; height: 300px;"
            data-ad-client="ca-pub-8704981339966312"
            data-ad-slot="8906943413"
            data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    </div>
    <div class="col-sm-8" id="contenido">
      <h1>Bienvenido a LibGra</h1>
      <p>Somos una biblioteca digital que ofrece a los usuarios acceso instantáneo a una amplia colección de libros electrónicos. Diseñada para una experiencia de lectura cómoda y fluida, permite explorar, seleccionar y leer libros directamente en la plataforma. Con una interfaz intuitiva y opciones de personalización, es el lugar perfecto para los amantes de la lectura que buscan disfrutar de sus títulos favoritos en cualquier momento y lugar.</p>
      <h3>ULTIMOS LIBROS SUBIDOS</h3>
      <div class="box" *ngIf="booksNovedad">
        <span *ngFor="let book of booksNovedad; index as i" [style.--i]="i + 1">
          <img [src]="baseUrl + book.portada" alt=`${{book.titulo}}`>
          
          <!--<p id="bookNovedadTitulo"> {{book.titulo}}</p>-->
        </span>
      </div>
      <button id="boton-style-app" class="btn btn-primary mb-3" *ngIf="(!esLector || esAdmin || esSoid) && isLoggedIn" data-bs-toggle="modal" data-bs-target="#addBookModal">
        Añadir un libro
    </button>
    <!-- Overlay de carga -->
    <div *ngIf="isLoading" class="overlay">
        <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
                        <!-- Formulario desplegable para añadir un nuevo libro -->
                        <!-- Modal para añadir un nuevo libro -->
    <div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addBookModalLabel">Añadir Nuevo Libro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
            <form [formGroup]="bookForm" (ngSubmit)="addBook()">
                <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" id="titulo" formControlName="titulo" class="form-control" required>
                </div>
                
                <div class="mb-3">
                <label for="id_autor" class="form-label">Autor:</label>
                <select id="id_autor" formControlName="id_autor" class="form-select">
                    <option *ngFor="let autor of autores" [value]="autor._id">{{ autor.nombre }} {{ autor.apellidos }}</option>
                </select>
              
                </div>
                
                <div class="mb-3">
                <label for="portada" class="form-label">Portada (imagen):</label>
                <input type="file" id="portada" (change)="onFileSelected($event, 'portada')" class="form-control">
                <button type="button" *ngIf="selectedPortada" (click)="removeFile('portada')" class="btn btn-danger mt-2">Eliminar Imagen</button>
                </div>
                
                <div class="mb-3">
                <label for="categorias_libro" class="form-label">Categorías:</label>
              
    <!-- Overlay de carga 
    <div *ngIf="isLoading" class="overlay">
        <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Cargando...</span>
        </div>
    </div>-->
                <select id="categorias_libro" formControlName="categorias_libro" class="form-select" multiple>
                    <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombre }}</option>
                </select>
                </div>
                
                <div class="mb-3">
                <label for="isbn" class="form-label">ISBN:</label>
                <input type="text" id="isbn" formControlName="isbn" class="form-control">
                </div>
                
                <div class="mb-3">
                <label for="fecha_publicacion" class="form-label">Fecha de Publicación:</label>
                <input type="date" id="fecha_publicacion" formControlName="fecha_publicacion" class="form-control">
                </div>
                
                <div class="mb-3">
                <label for="generos_libro" class="form-label">Géneros:</label>
                <select id="generos_libro" formControlName="generos_libro" class="form-select" multiple>
                    <option *ngFor="let genero of generos" [value]="genero._id">{{ genero.nombre }}</option>
                </select>
                </div>
                
                <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea id="descripcion" formControlName="descripcion" class="form-control" rows="4"></textarea>
                </div>
                
                <div class="mb-3">
                <label for="archivo" class="form-label">Archivo (PDF):</label>
                <input type="file" id="archivo" (change)="onFileSelected($event, 'archivo')" class="form-control">
                <button type="button" *ngIf="selectedArchivo" (click)="removeFile('archivo')" class="btn btn-danger mt-2">Eliminar Imagen</button>
                </div>
                
                <div class="mb-3">
                <label for="resenas_libro" class="form-label">Reseñas:</label>
                <textarea id="resenas_libro" formControlName="resenas_libro" class="form-control" rows="4"></textarea>
                </div>
            <!-- Barra de Progreso -->
            <div *ngIf="progress > 0" class="progress mt-3">
                <div 
                class="progress-bar" 
                role="progressbar" 
                [style.width.%]="progress"
                [attr.aria-valuenow]="progress" 
                aria-valuemin="0" 
                aria-valuemax="100">
                {{ progress }}%
                </div>
            </div>
            <br>
                
                <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Añadir Libro</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="books.length" class="row mt-4">
      <div *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="col-md-4 mb-4">
        <div class="card-container">
          <div class="card">
            <div class="card-front" [ngStyle]="{'background-image': 'url(' + baseUrl + book.portada + ')'}">
              <h5 class="card-title">{{ book.titulo }}</h5>
            </div>
            <div class="card-back">
              <div class="card-body">
                <p class="card-text"><strong>ISBN: </strong> {{ book.isbn }}</p>
                <p class="card-text"><strong>Fecha de Publicación:</strong> {{ book.fecha_publicacion | date:'dd/MM/yyyy' }}</p>
                <p class="card-text">{{ book.id_autor.nombre + ' ' +book.id_autor.apellidos || 'No hay autor disponible.' }}</p>
                <a (click)="irLeerLibro(book._id)" class="btn btn-primary" id="verArchivo" target="_blank" *ngIf="book.archivo && isLoggedIn">Ver Archivo</a>
                <a [href]="book.resenas_libro.length ? '/resenas/' + book.id_autor : ''" class="btn btn-secondary" *ngIf="book.resenas_libro.length && isLoggedIn">Leer Reseñas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  


    </div>
    <div class="col-sm-2">
      <div class="ad-container">
        <ins class="adsbygoogle"
            style="display:block; height: 300px;"
            data-ad-client="ca-pub-8704981339966312"
            data-ad-slot="8906943413"
            data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    </div>
  </div>
</div>